[Desktop Entry]
Name=Food
Comment=Provides a common Plasmoid for Restaurant

Icon=klipper
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=false

X-KDE-PluginInfo-Author=Aditya Dev Sharma
X-KDE-PluginInfo-Email=aditya.sharma15696@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.food
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
