[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-Library=kdenow_eventreservation
X-KDE-PluginInfo-Author=Aditya Dev Sharma
X-KDE-PluginInfo-Email=aditya.sharma15696@gmail.com
X-KDE-PluginInfo-Name=EventReservation
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDENow/Plugin
Name=Event Extractor
